<img src="./image/data.png"/>

# Introduction #

Welcome to this workshop, the objective of this workshop is to analyze data using pandas.\
For this we will use a dataset that represents competitive league of legends games in 2020.

Data analysis is closely related to artificial intelligence.\
Indeed, when we want to set up an artificial intelligence model, we usually have raw data,\
to get good results it is important to work on these raw data, in order to obtain meaningful data.

In this workshop:
   - Data analysis.
   - Data processing.
   
For this we will use the pandas library : [pandas](https://pandas.pydata.org/)

### Requirements

Check that you have pandas installed, if not open your shell and run the command: `pip3 install pandas`\
Make sure you have the `matches2020.csv` file to start the workshop.

In this workshop you will analyze a csv file.\
I strongly advise you not to use any loop (for, while ... ect)\
Indeed this workshop is made to be successful without the use of any loop,\
Read the documentation, search on the web, and come to the supervisors if you get stuck on a part for too long.

In [1]:
!ls

1.league_of_legends_analysis.ipynb	datasets.zip	 README.md
2.video_games_data_visualisation.ipynb	image		 video_games.csv
Anaconda3-2023.09-0-Linux-x86_64.sh	matches2020.csv

### Import

To start, it is necessary to import `pandas`, we give it the alias `pd` to be able to use its methods more easily.\
If you don't know what a method is I advise you to start with the workshop : `python basics`

In [2]:
import pandas as pd

## Read & Verify

Here we are at our first task, the difficulty will increase gradually.


For now pandas needs to read the csv to be able to use it.\
You have to read the file : `matches2020.csv`\
Since it is the first task, here is the link of the function : [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)\
For the next steps, I will let you search in the documentation: [documentation](https://pandas.pydata.org/docs/index.html)

In [48]:
#read the file : matches2020.csv with the function read_csv

data = pd.read_csv("matches2020.csv")

Congratulations, you have successfully completed the first task,


The second task is to display the dataframe using the [head](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html) method.\
head will by default display the first 5 lines if you don't set any parameters.

In [4]:
# Use the head method
pd.DataFrame.head(data)

,Unnamed: 0,gameid,league,blueteam,redteam,bluetop,bluejungle,bluemid,blueadc,bluesupport,redtop,redjungle,redmid,redadc,redsupport,result
0,0,ESPORTSTMNT03/1241318,KeSPA,SANDBOX Gaming,T1,Rumble,Elise,Qiyana,MissFortune,Nautilus,Aatrox,Gragas,Mordekaiser,Xayah,Rakan,1
1,1,ESPORTSTMNT03/1241322,KeSPA,T1,SANDBOX Gaming,Jayce,JarvanIV,Orianna,MissFortune,Nautilus,Aatrox,Elise,Qiyana,Varus,TahmKench,0
2,2,ESPORTSTMNT03/1241324,KeSPA,T1,SANDBOX Gaming,Renekton,RekSai,Mordekaiser,Xayah,Rakan,Aatrox,Sejuani,Azir,MissFortune,Nautilus,1
3,3,ESPORTSTMNT03/1241328,KeSPA,T1,SANDBOX Gaming,Pantheon,Elise,Nautilus,Xayah,Rakan,Quinn,Olaf,Orianna,MissFortune,Leona,0
4,4,ESPORTSTMNT03/1241386,KeSPA,DRX,Afreeca Freecs,Mordekaiser,JarvanIV,Ryze,Xayah,Rakan,Renekton,Elise,Velkoz,Varus,Braum,0

**Expected output:** \
<img src="./image/head_result.png"/>

### Dataset length

We can observe that indeed our dataset contains information about competitive league of legends games in 2020.\
I will describe the different columns :
- the **id** of the game,
- the **league**, in league of legends the competition is divided in different regional leagues,\
especially the LFL which is the french league and the LEC which is the european league.
- the **name** of the blue team,
- the **name** of the red team,
- in a game of league of legends there are 5 different roles, \
the **top**, the **mid**, the **jungle**, the **adc** and the **support**, to each role corresponds its champion pool.
- the result, equal to 1 if the blue team wins otherwise equal to 0

You have to return the total number of games of the dataset.

In [5]:
#return the number of games

def number_of_games(df):
    return data.shape[0]

In [6]:
number_of_games(data)

5612

**Expected output :** `5612`

The LFL is the French league, teams like Vitality or LDLC play there. \
you will need to return the number of competitive games in the LFL in 2020.

Try to create a variable that retrieves only the games where the League column is equal to `LFL`,\
then apply the same method as before.

In [7]:
#return the number of games in LFL

def number_of_games_lfl(df):
    return data['league'].value_counts()['LFL']

In [8]:
number_of_games_lfl(data)

129

**Expected output :** `129`

### Winrate

Bravo, you managed to get the parts of LFL and to count them

Let's go to the next level, \
In league of legends, the map has a blue side and a red side,\
the goal of the red team is to destroy the base on the blue side while the blue team must destroy the base on the red side.\
There is a rumor that being on the blue side gives an advantage to the team, check this rumor.

try to calculate the winrate of a team when it is on the `red` side.\
Don't forget that when the red team loses, the `result` is 1 and when it wins, the `result` is 0.

In [52]:
#Calculate redsite winrate

def redside_winrate(df):
    val1 = number_of_games(df)
    val2 = df[df["result"] == 0].shape[0]
    return val2 / val1

In [54]:
redside_winrate(data)

0.4718460441910192

**Expected output :** `0.4718460441910192`

### List without duplicates

Well done.\
But one question is on my mind.\
Which teams are in the French League of Legends (LFL)?\
List the LFL teams without duplicates

In [70]:
#return the list of LFL teams without duplicates

def list_equip_lfl(df):
    new_df = df[df["league"] == "LFL"]
    new_df = new_df.drop_duplicates(subset='blueteam')
    return new_df

In [71]:
list_equip_lfl(data)

,Unnamed: 0,gameid,league,blueteam,redteam,bluetop,bluejungle,bluemid,blueadc,bluesupport,redtop,redjungle,redmid,redadc,redsupport,result
45,45,ESPORTSTMNT01/1270513,LFL,Misfits Premier,IZI Dream,Irelia,Qiyana,Rumble,MissFortune,Leona,Renekton,LeeSin,Cassiopeia,Varus,Nautilus,1
46,46,ESPORTSTMNT01/1270545,LFL,GameWard,Team MCES,Mordekaiser,Qiyana,Cassiopeia,Senna,TahmKench,Ornn,RekSai,Velkoz,MissFortune,Thresh,1
47,47,ESPORTSTMNT01/1270566,LFL,Solary,GamersOrigin,Malphite,Gragas,Azir,Senna,Braum,Vladimir,JarvanIV,Lucian,Aphelios,Nautilus,0
48,48,ESPORTSTMNT01/1270591,LFL,Vitality.Bee,LDLC OL,Rumble,JarvanIV,Cassiopeia,MissFortune,Rakan,Camille,RekSai,Zoe,Varus,Braum,1
50,50,ESPORTSTMNT01/1280752,LFL,GamersOrigin,IZI Dream,Gangplank,Qiyana,Cassiopeia,Aphelios,Leona,Mordekaiser,Elise,Orianna,MissFortune,Braum,1
51,51,ESPORTSTMNT01/1270802,LFL,LDLC OL,Solary,Vladimir,Gragas,Yasuo,MissFortune,Nautilus,Ornn,RekSai,Cassiopeia,Aphelios,Leona,1
93,93,ESPORTSTMNT02/1271219,LFL,Team MCES,Solary,Sett,Olaf,Cassiopeia,Lucian,Nautilus,Ornn,Gragas,Viktor,Senna,Alistar,0
95,95,ESPORTSTMNT02/1261226,LFL,IZI Dream,Team MCES,Rumble,JarvanIV,Annie,Lucian,Alistar,Sett,LeeSin,Leblanc,MissFortune,Leona,0

**Expected output :** ```array(['Misfits Premier', 'GameWard', 'Solary', 'Vitality.Bee', 'GamersOrigin', 'LDLC OL', 'Team MCES', 'IZI Dream'], dtype=object)```

### Recurrent value

Well done, it looks like there were 8 teams in the LFL in 2020.

League of Legends is a game where the meta changes regularly,\
every year some champions dominate the game,\
The few games I played, I played the mid role.\
Which champion has been playing the most in mid. \
What is the value that appears the most in the columns: `bluemid` and `redmid` ?

In [72]:
#return the name of the champion who is the most played in midlane

def top_pick_mid(df):
    temp = pd.concat([df["redmid"], df["bluemid"]])
    elem_counts = temp.value_counts()
    return elem_counts.idxmax()

In [73]:
top_pick_mid(data)

'Zoe'

**Expected output :** `'Zoe'`

Ah Zoé,\
The famous bubbles that, when they touch you, make you wake up at your fountain.

More seriously, Zoé seems to have been extremely played in the mid.\
But all roles taken together,which are the 5 champions who have been the most played.

To do this look at the 5 roles of both teams to see which value appears the most : \
`bluetop`, `bluejungle`, `bluemid`, `blueadc`, `bluesupport`, `redtop`, `redjungle`, `redmid`, `redadc`, `redsupport`.

Good luck!

In [74]:
#return the five most played champions (top, mid, jungle, adc, support)

def ranking_all_pick(df):
    frames = [df["bluemid"], df["bluetop"], df["bluejungle"], df["blueadc"], df["bluesupport"], df["redmid"], df["redtop"], df["redjungle"], df["redadc"], df["redsupport"]]
    return pd.concat(frames).value_counts()[:5].index.tolist()

In [75]:
ranking_all_pick(data)

['Aphelios', 'Nautilus', 'Sett', 'Thresh', 'Ornn']

**Expected output :** 

`Aphelios    2147
 Nautilus    2084
 Sett        1816
 Thresh      1730
 Ornn        1700
 dtype: int64`

### Winrate in LEC

Zoë is finally not even in the top 5 most played champions, maybe she was ban most of the time.\
Aphelios seems to have dominated the summoner's rift.

The LEC is the European league one rank above the LFL, the dream of every European player. \
I wonder which team was able to dominate this league.\
List the different teams in the LEC league and their number of wins.

In [83]:
#return the number of wins for each team in the LEC league

def display_wins_per_teams(df):
    lec_df = df[df['league'] == 'LEC']
    lec_df['winning_team'] = lec_df.apply(lambda row: row['blueteam'] if row['result'] == 1 else row['redteam'], axis=1)
    wins_per_team = lec_df.groupby('winning_team').size()
    return wins_per_team

In [84]:
display_wins_per_teams(data)

/tmp/ipykernel_7618/3690300783.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lec_df['winning_team'] = lec_df.apply(lambda row: row['blueteam'] if row['result'] == 1 else row['redteam'], axis=1)

winning_team
Excel Esports            15
FC Schalke 04 Esports    18
Fnatic                   34
G2 Esports               48
MAD Lions                31
Misfits Gaming           18
Origen                   24
Rogue                    31
SK Gaming                13
Team Vitality             9
dtype: int64

**Expected output :**

`G2 Esports               48
 Fnatic                   34
 MAD Lions                31
 Rogue                    31
 Origen                   24
 FC Schalke 04 Esports    18
 Misfits Gaming           18
 Excel Esports            15
 SK Gaming                13
 Team Vitality             9
 dtype: int64`

### Counter

What a team: G2!

Aphelios was the most played champion in competition in 2020,\
in my research I noticed that Ezreal was the champion who was the most pick against Aphelios.\
Was this a good decision ?

Calculate the winrate of Aphelios against Ezreal,\
Aphelios and Ezreal are champions that are usually played in the role of adc. \
Just use the `blueadc` and `redadc` columns and ```result``` for this exercise.

In [137]:
def aphelios_vs_ezreal(df):
    cond1 = df[df["blueadc"] == 'Aphelios']
    cond1 = cond1[cond1['redadc'] == 'Ezreal']
    cond2 = df[df["redadc"] == 'Aphelios']
    cond2 = cond2[cond2['blueadc'] == 'Ezreal']
    sol1 = cond1.loc[cond1["result"] == 1]
    sol2 = cond2.loc[cond2["result"] == 0]
    return (len(sol1) + len(sol2)) / (len(cond1) + len(cond2))

In [138]:
aphelios_vs_ezreal(data)

0.528046421663443

**Expected output :** `0.528046421663443`

You have answered all my questions, well done.\
Now you are free to do your analysis.

Why don't you try to see with which support Aphelios has the best winrate for example?

In [ ]:
def name_this_function(df):
    """
        You are free, process the data to try to get out indicators that can be interesting
    """
    return None

## Well played

You were able to see the basic operation of pandas.\
You now understand one of the basics of data science.

Fortunately I thought about the brave people who would arrive there, a second topic is waiting for you on a dataset detailing the sale of video games in the world.

<img src="./image/win.png"/>